$primaryColor: #1F72C1;
$secondaryColor: #C41A2F;
$textColor: #FFFFFF;

$white: #FFFFFF;
$darkBlue: #0D4778;
$blue: #164A7D;
$lightBlue: #E1F5FE;
$orange: #F16925;
$grey: #58595B;
$darkGrey: #263547;
$borderColor: #E2E2E2;
