@use 'src/styles/variables';

footer.footer {
    width: 100%;
    height: 100%;

    div.lightSectionWrapper {
        background-color: variables.$white;
        color: #000000;
        margin: 40px 20px;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        div.contentWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: row;
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;

            @media screen and (max-width: 1140px) {
                max-width: 720px;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                align-items: center;
                flex-direction: column;
            }

            div.subContentWrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media screen and (max-width: 767px) {
                    margin-top: 20px;
                    align-items: center;
                }
            }

            & div.subContentWrapper:not(:first-child) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @media screen and (max-width: 767px) {
                    align-items: center;
                }
            }

            p.content {
                text-align: center;
                color: variables.$primaryColor;
                font-size: 16px;
                font-weight: 400;
                margin: 16px 0 0 0;

                @media screen and (max-width: 767px) {
                    font-size: 12px;
                }
            }

            img.mbancLogo {
                width: 210px;
                height: auto;
            }

            div.logoWrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: row;

                img.logo {
                    height: 30px;
                    width: auto;
                }

                & img.logo:not(:first-child) {
                    margin-left: 32px;
                }
            }
        }
    }

    div.linksSectionWrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 1140px) {
            max-width: 720px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            align-items: center;
            flex-direction: column;
        }

        div.linksWrapper {
            strong.subtitle {
                color: variables.$primaryColor;
                font-size: 18px;
            }

            ul.links {
                padding-left: 0;
                list-style: none;

                li.linkWrapper {
                    margin: 5px 0;

                    a.link {
                        color: variables.$primaryColor;
                        text-decoration: none;
                        transition: 0.8s;

                        &:hover {
                            color: variables.$secondaryColor;
                        }
                    }
                }
            }
        }
    }

    div.redSectionWrapper {
        background-color: variables.$secondaryColor;
        width: 100%;

        div.contentWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            max-width: 1140px;
            margin: 0 auto;
            padding: 10px;

            @media screen and (max-width: 1140px) {
                max-width: 720px;
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
                width: 100%;
                margin: 0;
                padding: 20px 0;
            }

            p.copyright,
            a.link {
                color: variables.$white;
                font-weight: 400;
                font-size: 16px;
            }

            a.link {
                text-decoration: none;
                transition: 0.8s;

                &:hover {
                    color: variables.$primaryColor;
                }
            }
        }
    }
}
