div.stepCounterWrapper {
    text-align: center;
    background-color: #1F72C1;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 32px;
    border-radius: 8px;
    margin-top: 40px;

    @media screen and (max-width: 900px) {
        margin-top: 10px;
        font-size: 14px;
        padding: 10px 20px;
    }
}
